{% extends "base.html" %}

{% block body %}
<h1>Your profile</h1>

    <form method="post">
        <div>
            {{ form.name.label }}
            {{ form.name }}
        </div>
        <div>
            {{ form.description.label }}
            {{ form.description }}
        </div>
        <div>
            {{ form.birthdate.label }}
            {{ form.birthdate }}
        </div>
        <div>
            {{ form.gender.label }}
            {{ form.gender }}
        </div>
        <div>
            {{ form.occupation.label }}
            {{ form.occupation }}
        </div>
        <div>
            {{ form.image.label }}
            {{ form.image }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
    
{% endblock %}
