{% extends 'base.html' %}

{% block body%}
<div container="container-fluid">
  <h2 class="my-4 mx-4">
    Submit a new collective</a>
  </h2>
  <form method="post">
    <div>
    {{ form.city.label }}
    {{ form.city }}
    </div>
      <div>
    {{ form.street.label }}
    {{ form.street }}
    </div>  
    <div>
    {{ form.price.label }}
    {{ form.price }}
    </div>
    <div>
    {{ form.roomsize.label }}
    {{ form.roomsize }}
    </div>
    <div>
    {{ form.image.label }}
    {{ form.image }}
    </div>
    <div>
    {{ form.submit }}
    </div>
  </form>
</div>
{% endblock body%}
