{% extends 'base.html' %}

{% block body%}
  <h1>Sign Up for provider</h1>

  <form method="post">
    <div>
    {{ form.name.label }}
    {{ form.name }}
    </div>
    <div>
    {{ form.email.label }}
    {{ form.email }}
    </div>
    <div>
    {{ form.password.label }}
    {{ form.password }}
    </div>
    <div>
    {{ form.confirm.label }}
    {{ form.confirm }}
    </div>
    <div>
    {{ form.address.label }}
    {{ form.address }}
    </div>
    <div>
    {{ form.space.label }}
    {{ form.space }}
    </div>
    <div>
    {{ form.slotsTotal.label }}
    {{ form.slotsTotal }}
    </div>
    <div>
    {{ form.vacantSlots.label }}
    {{ form.vacantSlots }}
    </div>
    <div>
    {{ form.description.label }}
    {{ form.description }}
    </div>
    <div>
    {{ form.submit }}
    </div>
  </form>

{% endblock body%}