{% extends 'base.html' %}

{% block body%}
<h1>Hello {{ current_user.role }} {{ current_user.name }}!</h1>
<p>
  If you wish, you can <a
    href="{{ url_for('logout')}}">log out here</a>.
</p>

<h2>
  Here is a list of all collectives that you can apply for.</a>.
</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Address</th>
      <th>Apply</th>
    </tr>
  {% for entry in collective_entries %}
    <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.address }}</td>
      <td><a href="/apply/{{ entry.id }}">Apply</a></td>
    </tr>
  {% endfor %}
  </table>

<h2>
  Here is a list of all collectives that you have applied for already.</a>.
</h2>
</p>
<table>
  <tr>
    <th>Collective ID</th>
    <th>Collective Address</th>
  </tr>
{% for entry in your_entries %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.address }}</td>
  </tr>
{% endfor %}
</table>

{% endblock body%}