{% extends 'base.html' %}

{% block body%}
<!-- <h1>Sign In</h1> -->

<!-- TODO: Sørg for billede loader på en bedre måde, så vi ikke har 1 sek load -->

<section class="hero">
    <div class="container h-50">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                
                <h1 class="text-white font-weight-bold">Live together!</h1>
                <p class="lead text-white mb-4">Kollektivportalen matches seekers of collectives with providers of collectives.</p>
                      <!-- <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark" style="opacity: 0.5;"></div> -->
                <!-- Search -->
                    <div class="form-container mt-4">
                        <span class="form-badge bg-primary bg-opacity-10 text-primary"></span>
                        <form>
                            <div class="input-group mb-3 shadow-sm rounded-pill overflow-hidden">
                                <input type="text" class="form-control border-0 py-3 px-4"
                                    placeholder="Where do you want to live?" aria-label="Search term">
                                <button class="btn btn-primary px-4 search-btn" type="button">
                                    <i class="bi bi-search animated-icon"></i>
                                </button>
                            </div>
                        </form>
                    <!-- <a href="#" class="btn btn-primary btn-lg">Register today</a> --> <!-- Jeg overvejer om vi vil have en sådan knap /Lasse-->
                    </div>
            </div>
        </div>
</section>

<section class="text">


</section>





<!-- Denne i sin egen fil? -->
<footer class="container">
    <div class="float-end"><a href="#">Back to top</a></div>
    <div>© 2025 Kollektivportalen.dk · <a href="#">Privacy</a> · <a href="#">Terms</a></div>
</footer>


</div>



{% endblock body%}