{% extends 'base.html' %}

{% block body%}

<div class="container-fluid">
    <h2 class="my-4 mx-4">
      Collectives that you have submitted
    </h2>
    {% if not collective_entries %}
    <div class="container-fluid">
        You haven't submitted any collectives. Submit a new collective <a href="{{ url_for('new_collective') }}">here</a>
    </div>
    {% else %}
    <div class="d-flex align-items-start flex-wrap p-3 bg-light">  <!-- TODO: align-items eller align-contents?-->
        {% for entry in collective_entries %}
        <!-- div of one collective-->
        <div class="container-s p-3 m-2 border"> 
            <div class="container-fluid">{{ entry.image }}</div>
            <p class="mb-1">Room is {{ entry.roomsize }} square meters.</p>
            <p class="mb-1">{{ entry.city }}, {{ entry.street }}</p>
            <p class="mb-0">{{ entry.price }} DKK</p>
        </div>    
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock body%}