{% extends 'elements/base.html' %}

{% block body%}

<section class="collectivedetails"> 
    <!-- Display IMG in large-->
    <div class="container-fluid px-0 d-flex justify-content-center mb-4">
        <img src="{{ pictures_url }}/{{entry.image_name}}" class="border img-fluid rounded collectivepage" alt="Responsive image">
    </div>
    <div class="container">
        <div class="row mb-4">
            <div class="container col-8">
                <!-- Header -->
                <h1 class="mb-2">
                    {{ entry.roomsize }} m<sup>2</sup> room available for {{ entry.price }} DKK a month
                </h1>
                <h2 class="text-muted">
                    {{ entry.street }}, {{ entry.city }}
                </h2>
            </div>
            <div class="container col-4 d-flex justify-content-center align-items-center">
                <!-- Button -->'
                    {% if current_user.role == "seeker" %}
                        <div>
                        <a class="btn btn-primary btn-lg" href="#" role="button">Apply</a>
                        </div>
                    {% else %}
                        <div>
                        <a class="btn btn-primary btn-lg" href="{{ url_for('collectives_index') }}" role="button">Go back</a>
                        </div>
                    {% endif %}
            </div>
        </div>
        <div class="w-50">
            <p class="text-left font-weight-normal">{{ entry.description }}</p>
        </div>
    </div>
        

<!--    A Carousel would be an option if we had multiple pictures pr. collectives.
-->

</section>


{% endblock body%}