{% extends 'elements/base.html' %}

{% block body%}

<div class="b-example-divider"></div>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
        Join or Create a Collective. Save money, make friends.
      </h1>
      <p class="col-lg-10 fs-4">
        Kollektivportalen is created to help seekers of collectives match with providers of collectives.
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post">
        <h2>Register for an account</h2>
        {{ form.email.label }}
        <div class="form-floating mb-3">
          {{ form.email }}
        </div>
        {{ form.password.label }}
        <div class="form-floating mb-3">
          {{ form.password }}
        </div>
        {{ form.confirm.label }}
        <div class="form-floating mb-3">
          {{ form.confirm }}
        </div>
        <div class="form-floating mb-3">
          I'm a {{ form.role }}
        </div>
        <div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">
            Register
          </button>
        </div>

        <!-- Error handling for the user -->
        {% for field, errors in form.errors.items() %}
        <div class="text-danger py-1 px-1">
          {{ form[field].label }} error: {{ ', '.join(errors) }}
        </div>
        {% endfor %}

      </form>
    </div>
  </div>

  {% endblock body%}